body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffd6e7, #ffeaf4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    color: #ff4fa3;
}

.sub {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ffc0da;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: #ff4fa3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #e83e90;
}

.hasil {
    margin-top: 20px;
    background: #fff0f7;
    padding: 15px;
    border-radius: 10px;
}